{% extends 'PokemonBundle:Front:Base.html.twig' %}

{% block content %}
    <div class="blog-wrap">
        <div class="mbox">
            <div class="top-row">
                <div class="title">
                    <h2>Блог</h2>
                </div>
            </div>
            <div class="news-row">
                {% if posts is not empty %}
                    {% for post in posts %}
                        <div class="item">
                            <div class="topper">
                                <div class="con">
                                    <img src="{{ (post.imageUrl?post.imageUrl:'/images/item-b.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="botter">
                                <div class="descript">
                                    <div class="date">{{ post.createAt|date("m.d.Y") }}</div>
                                    <div class="name">{{ post.title }}</div>
                                    <div class="after-text">
                                        <p>{{ post.anotation }}</p>
                                    </div>
                                </div>
                                <div class="read-more">
                                    <a href="{{ path('pokemon_blog_blogpost',{'id': post.linkParam}) }}">
                                        <span>читать больше</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% if page_navi is defined and page_navi is not empty %}
                <div class="pig-nation">
                    <ul>
                        {% for page in page_navi %}
                            <li>
                                {% if page.type == "l_arraow" %}
                                    <a href="{{ path('pokemon_blog_bloglist') }}?page={{ page.id }}" rel="prew">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                            <path d="M0 0h36v36h-36z" fill="none"/>
                                            <path d="M30 16.5h-18.26l8.38-8.38-2.12-2.12-12 12 12 12 2.12-2.12-8.38-8.38h18.26v-3z"/>
                                        </svg>
                                    </a>
                                {% elseif page.type == "r_arraow" %}
                                    <a href="{{ path('pokemon_blog_bloglist') }}?page={{ page.id }}" rel="next">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                            <path d="M0 0h36v36h-36z" fill="none"/>
                                            <path d="M30 16.5h-18.26l8.38-8.38-2.12-2.12-12 12 12 12 2.12-2.12-8.38-8.38h18.26v-3z"/>
                                        </svg>
                                    </a>
                                {% elseif page.type == "page" %}
                                    <a href="{{ path('pokemon_blog_bloglist') }}?page={{ page.id }}">
                                        <i>{{ page.id }}</i>
                                    </a>
                                {% elseif page.type == 'active' %}
                                    <a href="javasctript:void(0);" class="active">
                                        <i>{{ page.id }}</i>
                                    </a>
                                {% else %}
                                    <span>
                                        <i> ... </i>
                                    </span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

