<!DOCTYPE html>
<html lang="ru">
<head>
    {% block metaData %}
        <meta charset="UTF-8">
        {% if page_title is defined %}
            <title>{{ page_title }}</title>
        {% else %}
            <title>Pokémon</title>
        {% endif %}

    {% endblock %}
    {% block stylesheets %}
        <!-- build:css -->

        <link rel="stylesheet" href="/css/fancybox.css">
        <link rel="stylesheet" href="/css/formstyler.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/slick-theme.css">
        <link rel="stylesheet" href="/css/slick.css">
        <!-- add new file here -->

        <link rel="stylesheet" href="/css/zdev_0_basic.css">
        <link rel="stylesheet" href="/css/zdev_1.css">
        <link rel="stylesheet" href="/css/zdev_1_adapt.css">
        <link rel="stylesheet" href="/css/zdev_2.css">
        <link rel="stylesheet" href="/css/zdev_2_adapt.css">
        <link rel="stylesheet" href="/css/zdev_4.css">
        <link rel="stylesheet" href="/css/zdev_4_adapt.css">
        <link rel="stylesheet" href="/css/zdev_5.css">
        <link rel="stylesheet" href="/css/zdev_5_adapt.css">
        <link rel="stylesheet" href="/css/zdev_6.css">
        <link rel="stylesheet" href="/css/zdev_6_adapt.css">
        <!-- endbuild -->

        <script>
            if(screen.width>640){
                document.write('<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />');
            }
            else{
                document.write('<meta name="viewport" content="width=640, user-scalable=false "/>');
            }
        </script>

        <!--[if lt IE 10]>
        <link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" />
        <script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock %}
</head>
<body  >
    <div id="preloader"></div>

{% block social %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.7&appId=1756332607957995";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

<div class="global-wrapper">
    {% block header %}
        <header>
            <div class="row-in">
                <div class="mbox">
                    {% if is_auth %}
                        <div class="row-ser-login">
                            <div class="logout">
                                <a href="/logout">
                                    <img src="/images/log-out.png" alt="">
                                    <span>Выход</span>
                                </a>
                            </div>
                            <div class="user-name">
                                <a href="{{ path('pokemon_auth_profile') }}">
                                    <span class="con">
                                        <img src="{{ (user_pic?user_pic:'/images/no-face.png') }}" alt="">
                                    </span>
                                    <span>{{ user_name }}</span>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="row-ser-logout">
                            <div class="spread">
                                <a href="" class="log-in fancybox-form-open-log"> Вход </a>
                            </div>
                            <div class="spread">
                                <a href="" class="log-out fancybox-form-open-reg"> Регистрация </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="header-wrap">
                <div class="mbox">
                    <div class="con">
                        <div class="logo-block">
                            <a href="{{ path('pokemon_default_index') }}" class="logo">
                                <svg version="1.1" id="Слой_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 481.9 133.1" style="enable-background:new 0 0 481.9 133.1;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0{fill:#50484F;}
                                        .st1{fill:url(#SVGID_1_);}
                                        .st2{fill:url(#SVGID_2_);}
                                        .st3{fill:none;stroke:#E2E2E2;stroke-miterlimit:10;}
                                        .st4{fill:url(#SVGID_3_);}
                                        .st5{fill:#D24A43;}
                                    </style>
                                    <g>
                                        <circle class="st0" cx="64.9" cy="67.5" r="63.2"/>
                                        
                                            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="64.9" y1="-31.61" x2="64.9" y2="31.89" gradientTransform="matrix(1 0 0 -1 0 31.89)">
                                            <stop  offset="0" style="stop-color:#D24A43"/>
                                            <stop  offset="1" style="stop-color:#C2463E"/>
                                        </linearGradient>
                                        <path class="st1" d="M129.8,63.5C129.8,28.4,100.7,0,64.9,0S0,28.4,0,63.5H129.8z"/>
                                        
                                            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="64.9" y1="-101.21" x2="64.9" y2="-37.71" gradientTransform="matrix(1 0 0 -1 0 31.89)">
                                            <stop  offset="0" style="stop-color:#C8C8C8"/>
                                            <stop  offset="1" style="stop-color:#E5E5E5"/>
                                        </linearGradient>
                                        <path class="st2" d="M0,69.6c0,35.1,29.1,63.5,64.9,63.5s64.9-28.4,64.9-63.5L0,69.6L0,69.6z"/>
                                        <circle class="st0" cx="64.9" cy="67.5" r="21.7"/>
                                        <circle class="st3" cx="64.9" cy="67.6" r="13.1"/>
                                        
                                            <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="64.9" y1="-46.6403" x2="64.9" y2="-24.7827" gradientTransform="matrix(1 0 0 -1 0 31.89)">
                                            <stop  offset="0" style="stop-color:#C8C8C8"/>
                                            <stop  offset="1" style="stop-color:#E5E5E5"/>
                                        </linearGradient>
                                        <circle class="st4" cx="64.9" cy="67.6" r="10.9"/>
                                    </g>
                                    <g>
                                        <path class="st0" d="M160.3,83.9v-40h21.4c9.4,0,14.4,6.2,14.4,13.7c0,7.4-5,13.7-14.4,13.7h-9.2v12.6L160.3,83.9L160.3,83.9z
                                            M183.7,57.6c0-2.2-1.6-3.2-3.7-3.2h-7.7v6.3h7.7C182.1,60.7,183.7,59.7,183.7,57.6z"/>
                                        <path class="st0" d="M197.8,63.9c0-12.3,9.5-20.7,21.9-20.7s21.9,8.4,21.9,20.7c0,12.3-9.5,20.7-21.9,20.7S197.8,76.2,197.8,63.9z
                                            M229.3,63.9c0-5.6-3.8-10-9.6-10c-5.8,0-9.6,4.4-9.6,10s3.8,10,9.6,10C225.6,73.9,229.3,69.5,229.3,63.9z"/>
                                        <path class="st0" d="M269.3,83.9l-9-14.1l-2.2,3v11.1H246v-40h12.1v15l10.5-15h14.8l-15.1,18.6l15.8,21.4H269.3z"/>
                                        <path class="st0" d="M286.2,83.9v-40h30.4v10.6h-18.2v4h17.8v10.6h-17.8v4.4h18.2v10.6h-30.4V83.9z"/>
                                        <path class="st5" d="M319.8,63.9c0-12.3,9.5-20.7,21.9-20.7s21.9,8.4,21.9,20.7c0,12.3-9.5,20.7-21.9,20.7S319.8,76.2,319.8,63.9z
                                            M351.3,63.9c0-5.6-3.8-10-9.6-10c-5.8,0-9.6,4.4-9.6,10s3.8,10,9.6,10C347.5,73.9,351.3,69.5,351.3,63.9z"/>
                                        <path class="st5" d="M367.9,83.9v-40h21.4c9.4,0,14.4,6.2,14.4,13.7c0,7.4-5,13.7-14.4,13.7h-9.2v12.6L367.9,83.9L367.9,83.9z
                                            M391.4,57.6c0-2.2-1.6-3.2-3.7-3.2H380v6.3h7.7C389.8,60.7,391.4,59.7,391.4,57.6z"/>
                                        <path class="st5" d="M407.6,83.9v-40H438v10.6h-18.2v4h17.8v10.6h-17.8v4.4H438v10.6h-30.4V83.9z"/>
                                        <path class="st5" d="M470.3,83.9l-14.8-20.3v20.3h-12.1v-40h12.5l13.9,19v-19h12.1v40H470.3z"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="nav-part">
                            
                            {% if main_menu is defined and main_menu is not empty %}
                                <div class="buttr-bro">
                                    <b></b>
                                </div>
                                <div class="convert-menu">
                                    <ul>
                                        {% for menu in main_menu %}
                                            <li>
                                                <a href="{{ menu.link }}">{{ menu.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <a href="#call-me-baby" class="call-back fancybox-form">
                            <span>Заказать звонок</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- /HEADER -->
    {% endblock %}
    <!-- MAIN -->
    <div class="main">
        {% block pokeball %}

        {% endblock %}


        <!-- add partials here -->
        {% block content %}

        {% endblock %}
    </div>

    <div class="hidden-block">
        {% block hidden_block %}
        
                <div id="call-popup">
                    <div class="converter">        
                        <div class="pockeball">
                            <div class="top-pock">
                                <span> Вход </span>
                            </div>
                            <div class="mid">
                                <div class="form-reg">
                                    <form action="" method="post" class="register-form">
                                        <input type="hidden"  value="">
                                        <div class="contact-form-row cfix">
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <p> Имя пользователя: </p>
                                                        <input type="text" id="username" name="_username" value="" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <p> E-mail </p>
                                                        <input type="email" id="email" name="email" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <p> Пароль: </p>
                                                        <input type="password" id="password" name="_password" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <p> Повторить пароль </p>
                                                        <input type="password" name="re_password" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-row-submit cfix">
                                            <div class="contact-form-item">
                                                <button class="contact-submit" id="_submit" name="_submit">
                                                    <span>Регистрация</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="soc-block">
                                        <a href="">
                                            <span class="con">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                                                    <g>
                                                        <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803
                                                            c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654
                                                            c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246
                                                            c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"/>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                            <a href="">
                                                <span class="con">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 548.358 548.358" style="enable-background:new 0 0 548.358 548.358;"
                                                    xml:space="preserve">
                                                    <g>
                                                        <path d="M545.451,400.298c-0.664-1.431-1.283-2.618-1.858-3.569c-9.514-17.135-27.695-38.167-54.532-63.102l-0.567-0.571
                                                            l-0.284-0.28l-0.287-0.287h-0.288c-12.18-11.611-19.893-19.418-23.123-23.415c-5.91-7.614-7.234-15.321-4.004-23.13
                                                            c2.282-5.9,10.854-18.36,25.696-37.397c7.807-10.089,13.99-18.175,18.556-24.267c32.931-43.78,47.208-71.756,42.828-83.939
                                                            l-1.701-2.847c-1.143-1.714-4.093-3.282-8.846-4.712c-4.764-1.427-10.853-1.663-18.278-0.712l-82.224,0.568
                                                            c-1.332-0.472-3.234-0.428-5.712,0.144c-2.475,0.572-3.713,0.859-3.713,0.859l-1.431,0.715l-1.136,0.859
                                                            c-0.952,0.568-1.999,1.567-3.142,2.995c-1.137,1.423-2.088,3.093-2.848,4.996c-8.952,23.031-19.13,44.444-30.553,64.238
                                                            c-7.043,11.803-13.511,22.032-19.418,30.693c-5.899,8.658-10.848,15.037-14.842,19.126c-4,4.093-7.61,7.372-10.852,9.849
                                                            c-3.237,2.478-5.708,3.525-7.419,3.142c-1.715-0.383-3.33-0.763-4.859-1.143c-2.663-1.714-4.805-4.045-6.42-6.995
                                                            c-1.622-2.95-2.714-6.663-3.285-11.136c-0.568-4.476-0.904-8.326-1-11.563c-0.089-3.233-0.048-7.806,0.145-13.706
                                                            c0.198-5.903,0.287-9.897,0.287-11.991c0-7.234,0.141-15.085,0.424-23.555c0.288-8.47,0.521-15.181,0.716-20.125
                                                            c0.194-4.949,0.284-10.185,0.284-15.705s-0.336-9.849-1-12.991c-0.656-3.138-1.663-6.184-2.99-9.137
                                                            c-1.335-2.95-3.289-5.232-5.853-6.852c-2.569-1.618-5.763-2.902-9.564-3.856c-10.089-2.283-22.936-3.518-38.547-3.71
                                                            c-35.401-0.38-58.148,1.906-68.236,6.855c-3.997,2.091-7.614,4.948-10.848,8.562c-3.427,4.189-3.905,6.475-1.431,6.851
                                                            c11.422,1.711,19.508,5.804,24.267,12.275l1.715,3.429c1.334,2.474,2.666,6.854,3.999,13.134c1.331,6.28,2.19,13.227,2.568,20.837
                                                            c0.95,13.897,0.95,25.793,0,35.689c-0.953,9.9-1.853,17.607-2.712,23.127c-0.859,5.52-2.143,9.993-3.855,13.418
                                                            c-1.715,3.426-2.856,5.52-3.428,6.28c-0.571,0.76-1.047,1.239-1.425,1.427c-2.474,0.948-5.047,1.431-7.71,1.431
                                                            c-2.667,0-5.901-1.334-9.707-4c-3.805-2.666-7.754-6.328-11.847-10.992c-4.093-4.665-8.709-11.184-13.85-19.558
                                                            c-5.137-8.374-10.467-18.271-15.987-29.691l-4.567-8.282c-2.855-5.328-6.755-13.086-11.704-23.267
                                                            c-4.952-10.185-9.329-20.037-13.134-29.554c-1.521-3.997-3.806-7.04-6.851-9.134l-1.429-0.859c-0.95-0.76-2.475-1.567-4.567-2.427
                                                            c-2.095-0.859-4.281-1.475-6.567-1.854l-78.229,0.568c-7.994,0-13.418,1.811-16.274,5.428l-1.143,1.711
                                                            C0.288,140.146,0,141.668,0,143.763c0,2.094,0.571,4.664,1.714,7.707c11.42,26.84,23.839,52.725,37.257,77.659
                                                            c13.418,24.934,25.078,45.019,34.973,60.237c9.897,15.229,19.985,29.602,30.264,43.112c10.279,13.515,17.083,22.176,20.412,25.981
                                                            c3.333,3.812,5.951,6.662,7.854,8.565l7.139,6.851c4.568,4.569,11.276,10.041,20.127,16.416
                                                            c8.853,6.379,18.654,12.659,29.408,18.85c10.756,6.181,23.269,11.225,37.546,15.126c14.275,3.905,28.169,5.472,41.684,4.716h32.834
                                                            c6.659-0.575,11.704-2.669,15.133-6.283l1.136-1.431c0.764-1.136,1.479-2.901,2.139-5.276c0.668-2.379,1-5,1-7.851
                                                            c-0.195-8.183,0.428-15.558,1.852-22.124c1.423-6.564,3.045-11.513,4.859-14.846c1.813-3.33,3.859-6.14,6.136-8.418
                                                            c2.282-2.283,3.908-3.666,4.862-4.142c0.948-0.479,1.705-0.804,2.276-0.999c4.568-1.522,9.944-0.048,16.136,4.429
                                                            c6.187,4.473,11.99,9.996,17.418,16.56c5.425,6.57,11.943,13.941,19.555,22.124c7.617,8.186,14.277,14.271,19.985,18.274
                                                            l5.708,3.426c3.812,2.286,8.761,4.38,14.853,6.283c6.081,1.902,11.409,2.378,15.984,1.427l73.087-1.14
                                                            c7.229,0,12.854-1.197,16.844-3.572c3.998-2.379,6.373-5,7.139-7.851c0.764-2.854,0.805-6.092,0.145-9.712
                                                            C546.782,404.25,546.115,401.725,545.451,400.298z"/>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                            <a href="">
                                                <span class="con">
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 551.034 551.034" style="enable-background:new 0 0 551.034 551.034;" xml:space="preserve">
                                                    <g id="XMLID_13_">
                                                        <path id="XMLID_17_" d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722
                                                            c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156
                                                            C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156
                                                            c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722
                                                            c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z"/>
                                                        
                                                        <path id="XMLID_81_" d="M275.517,133C196.933,133,133,196.933,133,275.516
                                                            s63.933,142.517,142.517,142.517S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6
                                                            c-48.095,0-87.083-38.988-87.083-87.083s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083
                                                            C362.6,323.611,323.611,362.6,275.517,362.6z"/>
                                                        
                                                        <circle id="XMLID_83_" cx="418.306" cy="134.072" r="34.149"/>
                                                    </g>
                                                </svg>

                                            </span>
                                        </a>
                                            <a href="">
                                                <span class="con">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491.858 491.858" style="enable-background:new 0 0 491.858 491.858;" xml:space="preserve">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path d="M377.472,224.957H201.319v58.718H308.79c-16.032,51.048-63.714,88.077-120.055,88.077
                                                                    c-69.492,0-125.823-56.335-125.823-125.824c0-69.492,56.333-125.823,125.823-125.823c34.994,0,66.645,14.289,89.452,37.346
                                                                    l42.622-46.328c-34.04-33.355-80.65-53.929-132.074-53.929C84.5,57.193,0,141.693,0,245.928s84.5,188.737,188.736,188.737
                                                                    c91.307,0,171.248-64.844,188.737-150.989v-58.718L377.472,224.957L377.472,224.957z"/>
                                                                <polygon points="491.858,224.857 455.827,224.857 455.827,188.826 424.941,188.826 424.941,224.857 388.91,224.857 
                                                                    388.91,255.74 424.941,255.74 424.941,291.772 455.827,291.772 455.827,255.74 491.858,255.74 			"/>
                                                            </g>
                                                        </g>
                                                    </g>

                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                                <div class="form-log">
                                    <form action="" method="post" class="register-form">
                                        <input type="hidden"  value="">
                                        <div class="contact-form-row cfix">
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <p> Имя пользователя: </p>
                                                        <input type="text" id="username" name="_username" value="" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <p> Пароль: </p>
                                                        <input type="password" id="password" name="_password" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-form-item">
                                                <div class="row-for-check">
                                                    <input type="checkbox" name="check" id="checker"> 
                                                    <label for="checker">
                                                        <span class="checkblock">
                                                            <b></b>
                                                        </span>
                                                        <span class="after-text"> Запомнить меня </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-row-submit cfix">
                                            <div class="contact-form-item">
                                                <button class="contact-submit" id="_submit" name="_submit">
                                                    <span>Войти</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                    <a href="/remindPassword" class="forget-pass">
                                        <span>Забыли пароль?</span>
                                    </a>
                                    <div class="error-row">
                                        <p> some shit </p>
                                    </div>
                                    <div class="soc-block">
                                        <a href="">
                                            <span class="con">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                                                    <g>
                                                        <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803
                                                            c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654
                                                            c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246
                                                            c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"/>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                            <a href="">
                                                <span class="con">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 548.358 548.358" style="enable-background:new 0 0 548.358 548.358;"
                                                    xml:space="preserve">
                                                    <g>
                                                        <path d="M545.451,400.298c-0.664-1.431-1.283-2.618-1.858-3.569c-9.514-17.135-27.695-38.167-54.532-63.102l-0.567-0.571
                                                            l-0.284-0.28l-0.287-0.287h-0.288c-12.18-11.611-19.893-19.418-23.123-23.415c-5.91-7.614-7.234-15.321-4.004-23.13
                                                            c2.282-5.9,10.854-18.36,25.696-37.397c7.807-10.089,13.99-18.175,18.556-24.267c32.931-43.78,47.208-71.756,42.828-83.939
                                                            l-1.701-2.847c-1.143-1.714-4.093-3.282-8.846-4.712c-4.764-1.427-10.853-1.663-18.278-0.712l-82.224,0.568
                                                            c-1.332-0.472-3.234-0.428-5.712,0.144c-2.475,0.572-3.713,0.859-3.713,0.859l-1.431,0.715l-1.136,0.859
                                                            c-0.952,0.568-1.999,1.567-3.142,2.995c-1.137,1.423-2.088,3.093-2.848,4.996c-8.952,23.031-19.13,44.444-30.553,64.238
                                                            c-7.043,11.803-13.511,22.032-19.418,30.693c-5.899,8.658-10.848,15.037-14.842,19.126c-4,4.093-7.61,7.372-10.852,9.849
                                                            c-3.237,2.478-5.708,3.525-7.419,3.142c-1.715-0.383-3.33-0.763-4.859-1.143c-2.663-1.714-4.805-4.045-6.42-6.995
                                                            c-1.622-2.95-2.714-6.663-3.285-11.136c-0.568-4.476-0.904-8.326-1-11.563c-0.089-3.233-0.048-7.806,0.145-13.706
                                                            c0.198-5.903,0.287-9.897,0.287-11.991c0-7.234,0.141-15.085,0.424-23.555c0.288-8.47,0.521-15.181,0.716-20.125
                                                            c0.194-4.949,0.284-10.185,0.284-15.705s-0.336-9.849-1-12.991c-0.656-3.138-1.663-6.184-2.99-9.137
                                                            c-1.335-2.95-3.289-5.232-5.853-6.852c-2.569-1.618-5.763-2.902-9.564-3.856c-10.089-2.283-22.936-3.518-38.547-3.71
                                                            c-35.401-0.38-58.148,1.906-68.236,6.855c-3.997,2.091-7.614,4.948-10.848,8.562c-3.427,4.189-3.905,6.475-1.431,6.851
                                                            c11.422,1.711,19.508,5.804,24.267,12.275l1.715,3.429c1.334,2.474,2.666,6.854,3.999,13.134c1.331,6.28,2.19,13.227,2.568,20.837
                                                            c0.95,13.897,0.95,25.793,0,35.689c-0.953,9.9-1.853,17.607-2.712,23.127c-0.859,5.52-2.143,9.993-3.855,13.418
                                                            c-1.715,3.426-2.856,5.52-3.428,6.28c-0.571,0.76-1.047,1.239-1.425,1.427c-2.474,0.948-5.047,1.431-7.71,1.431
                                                            c-2.667,0-5.901-1.334-9.707-4c-3.805-2.666-7.754-6.328-11.847-10.992c-4.093-4.665-8.709-11.184-13.85-19.558
                                                            c-5.137-8.374-10.467-18.271-15.987-29.691l-4.567-8.282c-2.855-5.328-6.755-13.086-11.704-23.267
                                                            c-4.952-10.185-9.329-20.037-13.134-29.554c-1.521-3.997-3.806-7.04-6.851-9.134l-1.429-0.859c-0.95-0.76-2.475-1.567-4.567-2.427
                                                            c-2.095-0.859-4.281-1.475-6.567-1.854l-78.229,0.568c-7.994,0-13.418,1.811-16.274,5.428l-1.143,1.711
                                                            C0.288,140.146,0,141.668,0,143.763c0,2.094,0.571,4.664,1.714,7.707c11.42,26.84,23.839,52.725,37.257,77.659
                                                            c13.418,24.934,25.078,45.019,34.973,60.237c9.897,15.229,19.985,29.602,30.264,43.112c10.279,13.515,17.083,22.176,20.412,25.981
                                                            c3.333,3.812,5.951,6.662,7.854,8.565l7.139,6.851c4.568,4.569,11.276,10.041,20.127,16.416
                                                            c8.853,6.379,18.654,12.659,29.408,18.85c10.756,6.181,23.269,11.225,37.546,15.126c14.275,3.905,28.169,5.472,41.684,4.716h32.834
                                                            c6.659-0.575,11.704-2.669,15.133-6.283l1.136-1.431c0.764-1.136,1.479-2.901,2.139-5.276c0.668-2.379,1-5,1-7.851
                                                            c-0.195-8.183,0.428-15.558,1.852-22.124c1.423-6.564,3.045-11.513,4.859-14.846c1.813-3.33,3.859-6.14,6.136-8.418
                                                            c2.282-2.283,3.908-3.666,4.862-4.142c0.948-0.479,1.705-0.804,2.276-0.999c4.568-1.522,9.944-0.048,16.136,4.429
                                                            c6.187,4.473,11.99,9.996,17.418,16.56c5.425,6.57,11.943,13.941,19.555,22.124c7.617,8.186,14.277,14.271,19.985,18.274
                                                            l5.708,3.426c3.812,2.286,8.761,4.38,14.853,6.283c6.081,1.902,11.409,2.378,15.984,1.427l73.087-1.14
                                                            c7.229,0,12.854-1.197,16.844-3.572c3.998-2.379,6.373-5,7.139-7.851c0.764-2.854,0.805-6.092,0.145-9.712
                                                            C546.782,404.25,546.115,401.725,545.451,400.298z"/>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                            <a href="">
                                                <span class="con">
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 551.034 551.034" style="enable-background:new 0 0 551.034 551.034;" xml:space="preserve">
                                                    <g id="XMLID_13_">
                                                        <path id="XMLID_17_" d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722
                                                            c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156
                                                            C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156
                                                            c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722
                                                            c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z"/>
                                                        
                                                        <path id="XMLID_81_" d="M275.517,133C196.933,133,133,196.933,133,275.516
                                                            s63.933,142.517,142.517,142.517S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6
                                                            c-48.095,0-87.083-38.988-87.083-87.083s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083
                                                            C362.6,323.611,323.611,362.6,275.517,362.6z"/>
                                                        
                                                        <circle id="XMLID_83_" cx="418.306" cy="134.072" r="34.149"/>
                                                    </g>
                                                </svg>

                                            </span>
                                        </a>
                                            <a href="">
                                                <span class="con">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491.858 491.858" style="enable-background:new 0 0 491.858 491.858;" xml:space="preserve">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path d="M377.472,224.957H201.319v58.718H308.79c-16.032,51.048-63.714,88.077-120.055,88.077
                                                                    c-69.492,0-125.823-56.335-125.823-125.824c0-69.492,56.333-125.823,125.823-125.823c34.994,0,66.645,14.289,89.452,37.346
                                                                    l42.622-46.328c-34.04-33.355-80.65-53.929-132.074-53.929C84.5,57.193,0,141.693,0,245.928s84.5,188.737,188.736,188.737
                                                                    c91.307,0,171.248-64.844,188.737-150.989v-58.718L377.472,224.957L377.472,224.957z"/>
                                                                <polygon points="491.858,224.857 455.827,224.857 455.827,188.826 424.941,188.826 424.941,224.857 388.91,224.857 
                                                                    388.91,255.74 424.941,255.74 424.941,291.772 455.827,291.772 455.827,255.74 491.858,255.74 			"/>
                                                            </g>
                                                        </g>
                                                    </g>

                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="circle">
                                <div class="arrows"></div>
                            </div>
                            <div class="bot-pock">
                                <span> </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="call-popup2">
                    <div class="converter">        
                        <div class="pockeball">
                            <div class="top-pock">
                                <span> </span>
                            </div>
                            <div class="mid">
                                <div class="form-reg">
                                    <form action="" method="post" class="register-form">
                                        <input type="hidden"  value="">
                                        <div class="contact-form-row cfix">
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <p> Имя пользователя: </p>
                                                        <input type="text" id="username" name="_username" value="" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <p> E-mail </p>
                                                        <input type="email" id="email" name="email" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <p> Пароль: </p>
                                                        <input type="password" id="password" name="_password" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <p> Повторить пароль </p>
                                                        <input type="password" name="re_password" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-row-submit cfix">
                                            <div class="contact-form-item">
                                                <button class="contact-submit" id="_submit" name="_submit">
                                                    <span>Регистрация</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="soc-block">
                                        <a href="">
                                            <span class="con">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                                                    <g>
                                                        <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803
                                                            c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654
                                                            c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246
                                                            c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"/>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                            <a href="">
                                                <span class="con">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 548.358 548.358" style="enable-background:new 0 0 548.358 548.358;"
                                                    xml:space="preserve">
                                                    <g>
                                                        <path d="M545.451,400.298c-0.664-1.431-1.283-2.618-1.858-3.569c-9.514-17.135-27.695-38.167-54.532-63.102l-0.567-0.571
                                                            l-0.284-0.28l-0.287-0.287h-0.288c-12.18-11.611-19.893-19.418-23.123-23.415c-5.91-7.614-7.234-15.321-4.004-23.13
                                                            c2.282-5.9,10.854-18.36,25.696-37.397c7.807-10.089,13.99-18.175,18.556-24.267c32.931-43.78,47.208-71.756,42.828-83.939
                                                            l-1.701-2.847c-1.143-1.714-4.093-3.282-8.846-4.712c-4.764-1.427-10.853-1.663-18.278-0.712l-82.224,0.568
                                                            c-1.332-0.472-3.234-0.428-5.712,0.144c-2.475,0.572-3.713,0.859-3.713,0.859l-1.431,0.715l-1.136,0.859
                                                            c-0.952,0.568-1.999,1.567-3.142,2.995c-1.137,1.423-2.088,3.093-2.848,4.996c-8.952,23.031-19.13,44.444-30.553,64.238
                                                            c-7.043,11.803-13.511,22.032-19.418,30.693c-5.899,8.658-10.848,15.037-14.842,19.126c-4,4.093-7.61,7.372-10.852,9.849
                                                            c-3.237,2.478-5.708,3.525-7.419,3.142c-1.715-0.383-3.33-0.763-4.859-1.143c-2.663-1.714-4.805-4.045-6.42-6.995
                                                            c-1.622-2.95-2.714-6.663-3.285-11.136c-0.568-4.476-0.904-8.326-1-11.563c-0.089-3.233-0.048-7.806,0.145-13.706
                                                            c0.198-5.903,0.287-9.897,0.287-11.991c0-7.234,0.141-15.085,0.424-23.555c0.288-8.47,0.521-15.181,0.716-20.125
                                                            c0.194-4.949,0.284-10.185,0.284-15.705s-0.336-9.849-1-12.991c-0.656-3.138-1.663-6.184-2.99-9.137
                                                            c-1.335-2.95-3.289-5.232-5.853-6.852c-2.569-1.618-5.763-2.902-9.564-3.856c-10.089-2.283-22.936-3.518-38.547-3.71
                                                            c-35.401-0.38-58.148,1.906-68.236,6.855c-3.997,2.091-7.614,4.948-10.848,8.562c-3.427,4.189-3.905,6.475-1.431,6.851
                                                            c11.422,1.711,19.508,5.804,24.267,12.275l1.715,3.429c1.334,2.474,2.666,6.854,3.999,13.134c1.331,6.28,2.19,13.227,2.568,20.837
                                                            c0.95,13.897,0.95,25.793,0,35.689c-0.953,9.9-1.853,17.607-2.712,23.127c-0.859,5.52-2.143,9.993-3.855,13.418
                                                            c-1.715,3.426-2.856,5.52-3.428,6.28c-0.571,0.76-1.047,1.239-1.425,1.427c-2.474,0.948-5.047,1.431-7.71,1.431
                                                            c-2.667,0-5.901-1.334-9.707-4c-3.805-2.666-7.754-6.328-11.847-10.992c-4.093-4.665-8.709-11.184-13.85-19.558
                                                            c-5.137-8.374-10.467-18.271-15.987-29.691l-4.567-8.282c-2.855-5.328-6.755-13.086-11.704-23.267
                                                            c-4.952-10.185-9.329-20.037-13.134-29.554c-1.521-3.997-3.806-7.04-6.851-9.134l-1.429-0.859c-0.95-0.76-2.475-1.567-4.567-2.427
                                                            c-2.095-0.859-4.281-1.475-6.567-1.854l-78.229,0.568c-7.994,0-13.418,1.811-16.274,5.428l-1.143,1.711
                                                            C0.288,140.146,0,141.668,0,143.763c0,2.094,0.571,4.664,1.714,7.707c11.42,26.84,23.839,52.725,37.257,77.659
                                                            c13.418,24.934,25.078,45.019,34.973,60.237c9.897,15.229,19.985,29.602,30.264,43.112c10.279,13.515,17.083,22.176,20.412,25.981
                                                            c3.333,3.812,5.951,6.662,7.854,8.565l7.139,6.851c4.568,4.569,11.276,10.041,20.127,16.416
                                                            c8.853,6.379,18.654,12.659,29.408,18.85c10.756,6.181,23.269,11.225,37.546,15.126c14.275,3.905,28.169,5.472,41.684,4.716h32.834
                                                            c6.659-0.575,11.704-2.669,15.133-6.283l1.136-1.431c0.764-1.136,1.479-2.901,2.139-5.276c0.668-2.379,1-5,1-7.851
                                                            c-0.195-8.183,0.428-15.558,1.852-22.124c1.423-6.564,3.045-11.513,4.859-14.846c1.813-3.33,3.859-6.14,6.136-8.418
                                                            c2.282-2.283,3.908-3.666,4.862-4.142c0.948-0.479,1.705-0.804,2.276-0.999c4.568-1.522,9.944-0.048,16.136,4.429
                                                            c6.187,4.473,11.99,9.996,17.418,16.56c5.425,6.57,11.943,13.941,19.555,22.124c7.617,8.186,14.277,14.271,19.985,18.274
                                                            l5.708,3.426c3.812,2.286,8.761,4.38,14.853,6.283c6.081,1.902,11.409,2.378,15.984,1.427l73.087-1.14
                                                            c7.229,0,12.854-1.197,16.844-3.572c3.998-2.379,6.373-5,7.139-7.851c0.764-2.854,0.805-6.092,0.145-9.712
                                                            C546.782,404.25,546.115,401.725,545.451,400.298z"/>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                            <a href="">
                                                <span class="con">
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 551.034 551.034" style="enable-background:new 0 0 551.034 551.034;" xml:space="preserve">
                                                    <g id="XMLID_13_">
                                                        <path id="XMLID_17_" d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722
                                                            c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156
                                                            C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156
                                                            c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722
                                                            c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z"/>
                                                        
                                                        <path id="XMLID_81_" d="M275.517,133C196.933,133,133,196.933,133,275.516
                                                            s63.933,142.517,142.517,142.517S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6
                                                            c-48.095,0-87.083-38.988-87.083-87.083s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083
                                                            C362.6,323.611,323.611,362.6,275.517,362.6z"/>
                                                        
                                                        <circle id="XMLID_83_" cx="418.306" cy="134.072" r="34.149"/>
                                                    </g>
                                                </svg>

                                            </span>
                                        </a>
                                            <a href="">
                                                <span class="con">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491.858 491.858" style="enable-background:new 0 0 491.858 491.858;" xml:space="preserve">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path d="M377.472,224.957H201.319v58.718H308.79c-16.032,51.048-63.714,88.077-120.055,88.077
                                                                    c-69.492,0-125.823-56.335-125.823-125.824c0-69.492,56.333-125.823,125.823-125.823c34.994,0,66.645,14.289,89.452,37.346
                                                                    l42.622-46.328c-34.04-33.355-80.65-53.929-132.074-53.929C84.5,57.193,0,141.693,0,245.928s84.5,188.737,188.736,188.737
                                                                    c91.307,0,171.248-64.844,188.737-150.989v-58.718L377.472,224.957L377.472,224.957z"/>
                                                                <polygon points="491.858,224.857 455.827,224.857 455.827,188.826 424.941,188.826 424.941,224.857 388.91,224.857 
                                                                    388.91,255.74 424.941,255.74 424.941,291.772 455.827,291.772 455.827,255.74 491.858,255.74 			"/>
                                                            </g>
                                                        </g>
                                                    </g>

                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                                <div class="form-log">
                                    <form action="" method="post" class="register-form">
                                        <input type="hidden"  value="">
                                        <div class="contact-form-row cfix">
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <p> Имя пользователя: </p>
                                                        <input type="text" id="username" name="_username" value="" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <p> Пароль: </p>
                                                        <input type="password" id="password" name="_password" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-form-item">
                                                <div class="row-for-check">
                                                    <input type="checkbox" name="check" id="checker"> 
                                                    <label for="checker">
                                                        <span class="checkblock">
                                                            <b></b>
                                                        </span>
                                                        <span class="after-text"> Запомнить меня </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-row-submit cfix">
                                            <div class="contact-form-item">
                                                <button class="contact-submit" id="_submit" name="_submit">
                                                    <span>Войти</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                    <a href="/remindPassword" class="forget-pass">
                                        <span>Забыли пароль?</span>
                                    </a>
                                    <div class="error-row">
                                        <p> some shit </p>
                                    </div>
                                    <div class="soc-block">
                                        <a href="">
                                            <span class="con">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                                                    <g>
                                                        <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803
                                                            c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654
                                                            c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246
                                                            c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"/>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                            <a href="">
                                                <span class="con">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 548.358 548.358" style="enable-background:new 0 0 548.358 548.358;"
                                                    xml:space="preserve">
                                                    <g>
                                                        <path d="M545.451,400.298c-0.664-1.431-1.283-2.618-1.858-3.569c-9.514-17.135-27.695-38.167-54.532-63.102l-0.567-0.571
                                                            l-0.284-0.28l-0.287-0.287h-0.288c-12.18-11.611-19.893-19.418-23.123-23.415c-5.91-7.614-7.234-15.321-4.004-23.13
                                                            c2.282-5.9,10.854-18.36,25.696-37.397c7.807-10.089,13.99-18.175,18.556-24.267c32.931-43.78,47.208-71.756,42.828-83.939
                                                            l-1.701-2.847c-1.143-1.714-4.093-3.282-8.846-4.712c-4.764-1.427-10.853-1.663-18.278-0.712l-82.224,0.568
                                                            c-1.332-0.472-3.234-0.428-5.712,0.144c-2.475,0.572-3.713,0.859-3.713,0.859l-1.431,0.715l-1.136,0.859
                                                            c-0.952,0.568-1.999,1.567-3.142,2.995c-1.137,1.423-2.088,3.093-2.848,4.996c-8.952,23.031-19.13,44.444-30.553,64.238
                                                            c-7.043,11.803-13.511,22.032-19.418,30.693c-5.899,8.658-10.848,15.037-14.842,19.126c-4,4.093-7.61,7.372-10.852,9.849
                                                            c-3.237,2.478-5.708,3.525-7.419,3.142c-1.715-0.383-3.33-0.763-4.859-1.143c-2.663-1.714-4.805-4.045-6.42-6.995
                                                            c-1.622-2.95-2.714-6.663-3.285-11.136c-0.568-4.476-0.904-8.326-1-11.563c-0.089-3.233-0.048-7.806,0.145-13.706
                                                            c0.198-5.903,0.287-9.897,0.287-11.991c0-7.234,0.141-15.085,0.424-23.555c0.288-8.47,0.521-15.181,0.716-20.125
                                                            c0.194-4.949,0.284-10.185,0.284-15.705s-0.336-9.849-1-12.991c-0.656-3.138-1.663-6.184-2.99-9.137
                                                            c-1.335-2.95-3.289-5.232-5.853-6.852c-2.569-1.618-5.763-2.902-9.564-3.856c-10.089-2.283-22.936-3.518-38.547-3.71
                                                            c-35.401-0.38-58.148,1.906-68.236,6.855c-3.997,2.091-7.614,4.948-10.848,8.562c-3.427,4.189-3.905,6.475-1.431,6.851
                                                            c11.422,1.711,19.508,5.804,24.267,12.275l1.715,3.429c1.334,2.474,2.666,6.854,3.999,13.134c1.331,6.28,2.19,13.227,2.568,20.837
                                                            c0.95,13.897,0.95,25.793,0,35.689c-0.953,9.9-1.853,17.607-2.712,23.127c-0.859,5.52-2.143,9.993-3.855,13.418
                                                            c-1.715,3.426-2.856,5.52-3.428,6.28c-0.571,0.76-1.047,1.239-1.425,1.427c-2.474,0.948-5.047,1.431-7.71,1.431
                                                            c-2.667,0-5.901-1.334-9.707-4c-3.805-2.666-7.754-6.328-11.847-10.992c-4.093-4.665-8.709-11.184-13.85-19.558
                                                            c-5.137-8.374-10.467-18.271-15.987-29.691l-4.567-8.282c-2.855-5.328-6.755-13.086-11.704-23.267
                                                            c-4.952-10.185-9.329-20.037-13.134-29.554c-1.521-3.997-3.806-7.04-6.851-9.134l-1.429-0.859c-0.95-0.76-2.475-1.567-4.567-2.427
                                                            c-2.095-0.859-4.281-1.475-6.567-1.854l-78.229,0.568c-7.994,0-13.418,1.811-16.274,5.428l-1.143,1.711
                                                            C0.288,140.146,0,141.668,0,143.763c0,2.094,0.571,4.664,1.714,7.707c11.42,26.84,23.839,52.725,37.257,77.659
                                                            c13.418,24.934,25.078,45.019,34.973,60.237c9.897,15.229,19.985,29.602,30.264,43.112c10.279,13.515,17.083,22.176,20.412,25.981
                                                            c3.333,3.812,5.951,6.662,7.854,8.565l7.139,6.851c4.568,4.569,11.276,10.041,20.127,16.416
                                                            c8.853,6.379,18.654,12.659,29.408,18.85c10.756,6.181,23.269,11.225,37.546,15.126c14.275,3.905,28.169,5.472,41.684,4.716h32.834
                                                            c6.659-0.575,11.704-2.669,15.133-6.283l1.136-1.431c0.764-1.136,1.479-2.901,2.139-5.276c0.668-2.379,1-5,1-7.851
                                                            c-0.195-8.183,0.428-15.558,1.852-22.124c1.423-6.564,3.045-11.513,4.859-14.846c1.813-3.33,3.859-6.14,6.136-8.418
                                                            c2.282-2.283,3.908-3.666,4.862-4.142c0.948-0.479,1.705-0.804,2.276-0.999c4.568-1.522,9.944-0.048,16.136,4.429
                                                            c6.187,4.473,11.99,9.996,17.418,16.56c5.425,6.57,11.943,13.941,19.555,22.124c7.617,8.186,14.277,14.271,19.985,18.274
                                                            l5.708,3.426c3.812,2.286,8.761,4.38,14.853,6.283c6.081,1.902,11.409,2.378,15.984,1.427l73.087-1.14
                                                            c7.229,0,12.854-1.197,16.844-3.572c3.998-2.379,6.373-5,7.139-7.851c0.764-2.854,0.805-6.092,0.145-9.712
                                                            C546.782,404.25,546.115,401.725,545.451,400.298z"/>
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                            <a href="">
                                                <span class="con">
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 551.034 551.034" style="enable-background:new 0 0 551.034 551.034;" xml:space="preserve">
                                                    <g id="XMLID_13_">
                                                        <path id="XMLID_17_" d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722
                                                            c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156
                                                            C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156
                                                            c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722
                                                            c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z"/>
                                                        
                                                        <path id="XMLID_81_" d="M275.517,133C196.933,133,133,196.933,133,275.516
                                                            s63.933,142.517,142.517,142.517S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6
                                                            c-48.095,0-87.083-38.988-87.083-87.083s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083
                                                            C362.6,323.611,323.611,362.6,275.517,362.6z"/>
                                                        
                                                        <circle id="XMLID_83_" cx="418.306" cy="134.072" r="34.149"/>
                                                    </g>
                                                </svg>

                                            </span>
                                        </a>
                                            <a href="">
                                                <span class="con">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 491.858 491.858" style="enable-background:new 0 0 491.858 491.858;" xml:space="preserve">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path d="M377.472,224.957H201.319v58.718H308.79c-16.032,51.048-63.714,88.077-120.055,88.077
                                                                    c-69.492,0-125.823-56.335-125.823-125.824c0-69.492,56.333-125.823,125.823-125.823c34.994,0,66.645,14.289,89.452,37.346
                                                                    l42.622-46.328c-34.04-33.355-80.65-53.929-132.074-53.929C84.5,57.193,0,141.693,0,245.928s84.5,188.737,188.736,188.737
                                                                    c91.307,0,171.248-64.844,188.737-150.989v-58.718L377.472,224.957L377.472,224.957z"/>
                                                                <polygon points="491.858,224.857 455.827,224.857 455.827,188.826 424.941,188.826 424.941,224.857 388.91,224.857 
                                                                    388.91,255.74 424.941,255.74 424.941,291.772 455.827,291.772 455.827,255.74 491.858,255.74 			"/>
                                                            </g>
                                                        </g>
                                                    </g>

                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="circle">
                                <div class="arrows"></div>
                            </div>
                            <div class="bot-pock">
                                <span>  регистрация  </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="call-me-baby">
                    <div class="conteiner">
                        <div class="form-call-me" style="display: block;">
                            <form action="" method="post" class="register-form">
                                <input type="hidden" value="">
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <p> Имя пользователя: </p>
                                                <input type="text" id="username" name="_username" value="" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <p> Телефон </p>
                                                <input type="tel" id="tel" name="_password" class="tel-mask" required="required">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-row-submit cfix">
                                    <div class="contact-form-item">
                                        <button class="contact-submit" id="_submit" name="_submit">
                                            <span>Отправить</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="error-pop">
                    <div class="contein">
                        <div class="crack">
                            <div class="text"> WE HAVE problem motherfucker! </div>
                        </div>
                    </div>
                </div>

        {% endblock %}
    </div>

    {% block footer %}
        <!-- FOOTER -->
        <footer class="footer">
            <div class="row-like-header">
                <div class="header-wrap">
                    <div class="mbox">
                        <div class="con">
                            <div class="logo-block">
                                <a href="#" class="logo">                        
                                    <svg version="1.1" id="Слой_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 481.9 133.1" style="enable-background:new 0 0 481.9 133.1;" xml:space="preserve">
                                        <style type="text/css">
                                            .st0{fill:#50484F;}
                                            .st1{fill:url(#SVGID_1_);}
                                            .st2{fill:url(#SVGID_2_);}
                                            .st3{fill:none;stroke:#E2E2E2;stroke-miterlimit:10;}
                                            .st4{fill:url(#SVGID_3_);}
                                            .st5{fill:#D24A43;}
                                        </style>
                                        <g>
                                            <circle class="st0" cx="64.9" cy="67.5" r="63.2"/>
                                            
                                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="64.9" y1="-31.61" x2="64.9" y2="31.89" gradientTransform="matrix(1 0 0 -1 0 31.89)">
                                                <stop  offset="0" style="stop-color:#D24A43"/>
                                                <stop  offset="1" style="stop-color:#C2463E"/>
                                            </linearGradient>
                                            <path class="st1" d="M129.8,63.5C129.8,28.4,100.7,0,64.9,0S0,28.4,0,63.5H129.8z"/>
                                            
                                                <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="64.9" y1="-101.21" x2="64.9" y2="-37.71" gradientTransform="matrix(1 0 0 -1 0 31.89)">
                                                <stop  offset="0" style="stop-color:#C8C8C8"/>
                                                <stop  offset="1" style="stop-color:#E5E5E5"/>
                                            </linearGradient>
                                            <path class="st2" d="M0,69.6c0,35.1,29.1,63.5,64.9,63.5s64.9-28.4,64.9-63.5L0,69.6L0,69.6z"/>
                                            <circle class="st0" cx="64.9" cy="67.5" r="21.7"/>
                                            <circle class="st3" cx="64.9" cy="67.6" r="13.1"/>
                                            
                                                <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="64.9" y1="-46.6403" x2="64.9" y2="-24.7827" gradientTransform="matrix(1 0 0 -1 0 31.89)">
                                                <stop  offset="0" style="stop-color:#C8C8C8"/>
                                                <stop  offset="1" style="stop-color:#E5E5E5"/>
                                            </linearGradient>
                                            <circle class="st4" cx="64.9" cy="67.6" r="10.9"/>
                                        </g>
                                        <g>
                                            <path class="st0" d="M160.3,83.9v-40h21.4c9.4,0,14.4,6.2,14.4,13.7c0,7.4-5,13.7-14.4,13.7h-9.2v12.6L160.3,83.9L160.3,83.9z
                                                M183.7,57.6c0-2.2-1.6-3.2-3.7-3.2h-7.7v6.3h7.7C182.1,60.7,183.7,59.7,183.7,57.6z"/>
                                            <path class="st0" d="M197.8,63.9c0-12.3,9.5-20.7,21.9-20.7s21.9,8.4,21.9,20.7c0,12.3-9.5,20.7-21.9,20.7S197.8,76.2,197.8,63.9z
                                                M229.3,63.9c0-5.6-3.8-10-9.6-10c-5.8,0-9.6,4.4-9.6,10s3.8,10,9.6,10C225.6,73.9,229.3,69.5,229.3,63.9z"/>
                                            <path class="st0" d="M269.3,83.9l-9-14.1l-2.2,3v11.1H246v-40h12.1v15l10.5-15h14.8l-15.1,18.6l15.8,21.4H269.3z"/>
                                            <path class="st0" d="M286.2,83.9v-40h30.4v10.6h-18.2v4h17.8v10.6h-17.8v4.4h18.2v10.6h-30.4V83.9z"/>
                                            <path class="st5" d="M319.8,63.9c0-12.3,9.5-20.7,21.9-20.7s21.9,8.4,21.9,20.7c0,12.3-9.5,20.7-21.9,20.7S319.8,76.2,319.8,63.9z
                                                M351.3,63.9c0-5.6-3.8-10-9.6-10c-5.8,0-9.6,4.4-9.6,10s3.8,10,9.6,10C347.5,73.9,351.3,69.5,351.3,63.9z"/>
                                            <path class="st5" d="M367.9,83.9v-40h21.4c9.4,0,14.4,6.2,14.4,13.7c0,7.4-5,13.7-14.4,13.7h-9.2v12.6L367.9,83.9L367.9,83.9z
                                                M391.4,57.6c0-2.2-1.6-3.2-3.7-3.2H380v6.3h7.7C389.8,60.7,391.4,59.7,391.4,57.6z"/>
                                            <path class="st5" d="M407.6,83.9v-40H438v10.6h-18.2v4h17.8v10.6h-17.8v4.4H438v10.6h-30.4V83.9z"/>
                                            <path class="st5" d="M470.3,83.9l-14.8-20.3v20.3h-12.1v-40h12.5l13.9,19v-19h12.1v40H470.3z"/>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                            <div class="nav-part">

                                {% if main_menu is defined and main_menu is not empty %}

                                    
                                    <ul>
                                        {% for menu in main_menu %}
                                            <li>
                                                <a href="{{ menu.link }}">{{ menu.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <a href="#" class="call-back">
                                <span>Заказать звонок</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts">
                <div class="col">
                    {% if settings.footer_col_1 is defined %}
                        {{ settings.footer_col_1|raw }}
                    {% endif %}
                </div>
                <div class="col">
                    {% if settings.footer_col_2 is defined %}
                        {{ settings.footer_col_2|raw }}
                    {% endif %}
                </div>
                <div class="col">
                    {% if settings.footer_col_3 is defined %}
                        {{ settings.footer_col_3|raw }}
                    {% endif %}
                </div>
            </div>
            <div class="last-row">
                <div class="mbox">
                    <div class="row"> 
                        <div class="left">Политика конфиденциальности</div>    
                        <div class="right">
                           
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER -->

    {% endblock %}
    {% block javascript %}
        <!-- SCRIPTS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="/js/validate_script.js" ></script>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYm7d8VTUMFSbvC-IVVLue9yjWttTTkDw"></script>
        <!--
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
-->

        <!-- build:js -->
        <script type="text/javascript" src="/js/plagins/device.js" ></script>
        <script type="text/javascript" src="/js/plagins/jquery.fancybox.pack.js" ></script>
        <script type="text/javascript" src="/js/plagins/jquery.formstyler.min.js" ></script>
        <script type="text/javascript" src="/js/plagins/jquery.validate.min.js" ></script>
        <script type="text/javascript" src="/js/plagins/maskInput.js" ></script>
        <script type="text/javascript" src="/js/plagins/slick.js" ></script>

        <script type="text/javascript" src="/js/basic_scripts.js" ></script>
        <script type="text/javascript" src="/js/develop/develop_1.js" ></script>
        <script type="text/javascript" src="/js/develop/develop_2.js" ></script>
        <script type="text/javascript" src="/js/develop/develop_4.js" ></script>
        <script type="text/javascript" src="/js/develop/develop_5.js" ></script>
        <script type="text/javascript" src="/js/develop/develop_6.js" ></script>
        <!-- endbuild -->
        <!-- /SCRIPTS -->
    {% endblock %}
</div>
</body>
</html>