{% extends 'PokemonBundle:Front:Base.html.twig' %}
{% block content %}
    {% if error %}

        <div class="login-wrap">
            <div class="contein">
                <div class="form-wrap">
                    <div class="topper">
                        <h2> Неверный логин или пароль </h2>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    <div class="login-wrap" style="
            display: block;
            width: 200px;
            margin: auto;
        ">
        <div class="mid">
            <div class="form-log">
                <div class="topper">
                    <h2>Вход в систему</h2>
                </div>
                {{ block('login_form') }}
            </div>
        </div>
    </div>

    {#
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" required="required" />

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>
    #}
{% endblock content %}