{% extends 'PokemonBundle:Front:Base.html.twig' %}

{% block banner %}
{% endblock %}

{% block pokeball %}
    {% if is_auth == false %}
        <div class="find-pockemon" style="background-image: url(/images/pok-ban2.jpg);">
            <div class="contein">
                <div class="head-row">
                    <h1>Найти своего покемона</h1>
                </div>
                <div class="mbox">
                    <div class="pockeball">
                        <div class="top-pock">
                            <span> Вход </span>
                        </div>
                        <div class="mid">
                            <div class="form-reg">
                                {{ block('register_form') }}
                                {{ block('soc') }}
                            </div>

                            <div class="form-log">
                                {{ block('login_form') }}
                                {{ block('soc') }}
                            </div>

                        </div>
                        <div class="circle">
                            <div class="arrows"></div>
                        </div>
                        <div class="bot-pock">
                            <span> регистрация </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <script>
        var pokemon = [
            {% if pokemon is defined and pokemon is not empty %}
                {% for item in pokemon %}
                    {
                        id: {{ item.id }},
                        name: '{{ item.name }}',
                        image: '{{ item.image }}'
                    },
                {% endfor %}
            {% endif %}
        ];
    </script>
    <div class="contein-search">
        <div class="mbox">
            <div class="top-row">
                <div class="form-part">
                    <form action="" novalidate>
                        <div class="form-row">
                            <input type="text" name="search-pockemon" placeholder="Search" required="required">
                        </div>
                    </form>
                </div>
                <div class="select-part">
                    <div class="drop"> </div>
                </div>
            </div>
            <div class="slider-row">
                <div class="content" id='iwanttoslide'>

                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <div class="top-row">
            <div class="title">КАРТА</div>
        </div>
        <div class="row">
            <div id="map" class=""></div>
            <div class="hide-content activate confirm-pokemon">
                <div class="convert">
                    <div class="topper">
                        <div class="con">
                            <img src="/images/no-face.png" />
                        </div>
                    </div>
                    <div class="after-all">
                        <div class="top-name"> </div>
                        <div class="distance">Растояние до покемона <span>5 </span> км </div>
                        <div class="button-block">
                            <div class="butt confirm">
                                <span>Подтвердить</span>
                            </div>
                            <div class="butt not-confirm">
                                <span>Отказать</span>
                            </div>
                        </div>
                        <div class="road-is-so-far">
                            <div class="contr">
                                <span>Проложить путь</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#<div class="contein-search">
        <div class="mbox">
            <div class="top-row">
                <div class="form-part">
                    <form action="" novalidate>
                        <div class="form-row">
                            <input type="text" name="search-pockemon" placeholder="Search" required="required">
                        </div>
                    </form>
                </div>
                <div class="select-part">
                    <div class="drop"> </div>
                </div>
            </div>
            <div class="slider-row">
                <div class="content">
                    <div class="sliding-items">
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                    </div>
                    <div class="sliding-items">
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                    </div>
                    <div class="sliding-items">
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                    </div>
                    <div class="sliding-items">
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                    </div>
                    <div class="sliding-items">
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                    </div>
                    <div class="sliding-items">
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                    </div>
                    <div class="sliding-items">
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                    </div>
                    <div class="sliding-items">
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                        <div class="item">
                            <div class="top"> 2km</div>
                            <div class="circle">
                                <div class="con">
                                    <img src="/images/bubl.png" alt="">
                                </div>
                            </div>
                            <div class="named">Бульбазавр</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <div class="top-row">
            <div class="title">КАРТА</div>
        </div>
        <div class="row">
            <div id="map" class='activate' ></div>
            <div class="hide-content not-login">
                <div class="convert">
                    <div class="topper">
                        <div class="con">
                            <img src="/images/bubl.png" alt="">
                        </div>
                    </div>
                    <div class="after-all">
                        {% if user_login is defined %}
                            <div class="top-name"> {{ user_login }}</div>
                        {% else %}
                            Зарегистрируйтесь
                        {% endif %}
                        <div class="distance"> Растояние до покемона <span>5</span> км </div>
                        <div class="button-block">
                            <div class="butt confirm">
                                <span>Подтвердить</span>
                            </div>
                            <div class="butt not-confirm">
                                <span>Отказать</span>
                            </div>
                        </div>
                        <div class="road-is-so-far">
                            <div class="contr">
                                <span>Проложить путь</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>#}
{% endblock %}