{% extends 'PokemonBundle:Front:Base.html.twig' %}

{% block banner %}
    {% if banner is defined %}
        <div class="banner-wrap">
            <div class="contein">
                <img src="{{ banner }}" alt="">
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block pokeball %}
    {% if is_auth == false %}
        <div class="find-pockemon">
            <div class="contein">
                <div class="head-row">
                    <h1>Найти своего покемона</h1>
                </div>
                <div class="mbox">
                    <div class="pockeball">
                        <div class="top-pock">
                            <span> Вход </span>
                        </div>
                        <div class="mid">
                            <div class="form-reg">
                                <form action="" method="post" class="register-form">
                                    <input type="hidden"  value="">
                                    <div class="contact-form-row cfix">
                                        <div class="contact-form-item">
                                            <div class="contact-form-item-input form_row">
                                                <div class="form_input">
                                                    <p> Имя пользователя: </p>
                                                    <input type="text" id="username" value="" required="required" name="{{ reg_form.key }}[login]" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-item">
                                            <div class="contact-form-item-input form_row">
                                                <div class="form_input">
                                                    <p> E-mail </p>
                                                    <input type="email" id="email" required="required"  name="{{ reg_form.key }}[email]" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-item">
                                            <div class="contact-form-item-input form_row">
                                                <div class="form_input">
                                                    <p> Пароль: </p>
                                                    <input type="password" id="password" required="required" name="{{ reg_form.key }}[password]" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-item">
                                            <div class="contact-form-item-input form_row">
                                                <div class="form_input">
                                                    <p> Повторить пароль </p>
                                                    <input type="password" required="required" name="{{ reg_form.key }}[repassword]">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-row-submit cfix">
                                        <div class="contact-form-item">
                                            <button class="contact-submit" id="_submit" name="_submit">
                                                <span>Регистрация</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                {% block soc %}
                                    <div class="soc-block">
                                        {% if social is defined and social is not empty %}
                                            {% if social.fb_login_link is defined and social.fb_login_link is not empty %}
                                                <a href="{{ social.fb_login_link }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="49.652px" height="49.652px" viewBox="0 0 49.652 49.652" style="enable-background:new 0 0 49.652 49.652;" xml:space="preserve">
                                                        <g>
                                                            <g>
                                                                <path d="M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826    C49.652,11.137,38.516,0,24.826,0z M31,25.7h-4.039c0,6.453,0,14.396,0,14.396h-5.985c0,0,0-7.866,0-14.396h-2.845v-5.088h2.845    v-3.291c0-2.357,1.12-6.04,6.04-6.04l4.435,0.017v4.939c0,0-2.695,0-3.219,0c-0.524,0-1.269,0.262-1.269,1.386v2.99h4.56L31,25.7z    "/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                            {% if social.vk_login_link is defined and social.vk_login_link is not empty %}
                                                <a href="{{ social.vk_login_link }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="49.652px" height="49.652px" viewBox="0 0 49.652 49.652" style="enable-background:new 0 0 49.652 49.652;" xml:space="preserve">
                                                        <g>
                                                            <g>
                                                                <path d="M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826    C49.652,11.137,38.516,0,24.826,0z M31,25.7h-4.039c0,6.453,0,14.396,0,14.396h-5.985c0,0,0-7.866,0-14.396h-2.845v-5.088h2.845    v-3.291c0-2.357,1.12-6.04,6.04-6.04l4.435,0.017v4.939c0,0-2.695,0-3.219,0c-0.524,0-1.269,0.262-1.269,1.386v2.99h4.56L31,25.7z    "/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                            {% if social.gp_login_link is defined and social.gp_login_link is not empty %}
                                                <a href="{{ social.gp_login_link }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="49.652px" height="49.652px" viewBox="0 0 49.652 49.652" style="enable-background:new 0 0 49.652 49.652;" xml:space="preserve">
                                                        <g>
                                                            <g>
                                                                <path d="M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826    C49.652,11.137,38.516,0,24.826,0z M31,25.7h-4.039c0,6.453,0,14.396,0,14.396h-5.985c0,0,0-7.866,0-14.396h-2.845v-5.088h2.845    v-3.291c0-2.357,1.12-6.04,6.04-6.04l4.435,0.017v4.939c0,0-2.695,0-3.219,0c-0.524,0-1.269,0.262-1.269,1.386v2.99h4.56L31,25.7z    "/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                            {% if social.in_login_link is defined and social.in_login_link is not empty %}
                                                <a href="{{ social.in_login_link }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="49.652px" height="49.652px" viewBox="0 0 49.652 49.652" style="enable-background:new 0 0 49.652 49.652;" xml:space="preserve">
                                                        <g>
                                                            <g>
                                                                <path d="M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826    C49.652,11.137,38.516,0,24.826,0z M31,25.7h-4.039c0,6.453,0,14.396,0,14.396h-5.985c0,0,0-7.866,0-14.396h-2.845v-5.088h2.845    v-3.291c0-2.357,1.12-6.04,6.04-6.04l4.435,0.017v4.939c0,0-2.695,0-3.219,0c-0.524,0-1.269,0.262-1.269,1.386v2.99h4.56L31,25.7z    "/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endblock %}
                            </div>

                            <div class="form-log">
                                <form action="{{ path("fos_user_security_check") }}" method="post"  class="register-form" onsubmit="loginFormSubmit(this);" novalidate>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    <div class="contact-form-row cfix">
                                        <div class="contact-form-item">
                                            <div class="contact-form-item-input form_row">
                                                <div class="form_input">
                                                    <p> Имя пользователя: </p>
                                                    <input type="text" id="username" name="_username" value="{{ log.last_username }}" required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-item">
                                            <div class="contact-form-item-input form_row">
                                                <div class="form_input">
                                                    <p> Пароль: </p>
                                                    <input type="password" id="password" name="_password" required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-item">
                                            <div class="row-for-check">
                                                <input type="checkbox" name="check" id="checker">
                                                <label for="checker">
                                                        <span class="checkblock">
                                                            <b></b>
                                                        </span>
                                                    <span class="after-text"> Запомнить меня </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-row-submit cfix">
                                        <div class="contact-form-item">
                                            <button class="contact-submit" id="_submit" name="_submit" onclick="loginFormSubmit($('.form-log form'));">
                                                <span>Войти</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>

                                <a href="/remindPassword" class="forget-pass">
                                    <span>Забыли пароль?</span>
                                </a>
                                {{ block('soc') }}
                            </div>

                        </div>
                        <div class="circle">
                            <div class="arrows"></div>
                        </div>
                        <div class="bot-pock">
                            <span> регистрация </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <script>
        var pokemon = [
            {% if pokemon is defined and pokemon is not empty %}
                {% for item in pokemon %}
                    {
                        id: {{ item.id }},
                        name: '{{ item.name }}',
                        image: '{{ item.image }}'
                    },
                {% endfor %}
            {% endif %}
        ];
    </script>
    <div class="sorting-wrap map-page">
            <div class="top-row">
                <div class="mbox">
                    <div class="con">
                        <div class="title">СОРТИРОВКА</div>
                        <div class="sort-navi">
                            <div class="tabs">
                                <ul class="sorting">
                                    <li>
                                        <span>A-Я</span>
                                    </li>
                                    <li>
                                        <span>Я-A</span>
                                    </li>
                                </ul>
                                <ul class="displaying">
                                    <li class="active">
                                            <span class="polos">
                                                <b></b>
                                                <b></b>
                                                <b></b>
                                            </span>
                                    </li>
                                    <li>
                                            <span class="qadri">
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                            </span>
                                    </li>
                                </ul>
                                <ul class="butt">
                                    <li onclick="$('#elementlist').toggle();">
                                            <span class="arrow">
                                                <q></q>
                                            </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bot-row list">
            <div class="items-wrap" id="elementlist" style="display: none;">
                {% if items is defined and items is not empty %}
                    {% for item in items %}
                        <div class="item">
                            <div class="num">#{{ item.pokemon }}</div>
                            <div class="look">
                                <img src="{{ item.image }}" alt="{{ item.name }}" title="{{ item.name }}">
                            </div>
                            <div class="name">{{ item.name }}</div>
                            <div class="disance"> {{ item.distance }}км </div>
                            <div class="button">
                                <a href="{{ item.id }}"> <span>ПОКАЗАТЬ</span> </a>
                            </div>
                            <!--<div class="location"> ул.Турбостроителей 5, </div>-->
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="map">
        <div class="top-row">
            <div class="title">КАРТА</div>
        </div>
        <div class="row">
            <div id="map" class='activate' ></div>
            <div class="hide-content not-login">
                <div class="convert">
                    <div class="topper">
                        <div class="con">
                            <img src="images/bubl.png" alt="">
                        </div>
                    </div>
                    <div class="after-all">
                        {% if user_login is defined %}
                            <div class="top-name"> {{ user_login }}</div>
                        {% else %}
                            Зарегистрируйтесь
                        {% endif %}
                        <div class="distance"> Растояние до покемона <span>5</span> км </div>
                        <div class="button-block">
                            <div class="butt confirm">
                                <span>Подтвердить</span>
                            </div>
                            <div class="butt not-confirm">
                                <span>Отказать</span>
                            </div>
                        </div>
                        <div class="road-is-so-far">
                            <div class="contr">
                                <span>Проложить путь</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}