{% extends 'PokemonBundle:Front:Base.html.twig' %}

{% block content %}
    {% if message is defined and message is not empty %}

        <div class="login-wrap">
            <div class="contein">
                <div class="form-wrap">
                    <div class="topper">
                        <h2> {{ message }} </h2>
                    </div>
                </div>
            </div>
        </div>
        
    {% else %}

        <div class="login-wrap">
            <div class="contein">
                <div class="form-wrap">
                    <div class="topper">
                        <h2>Регистрация</h2>
                    </div>
                    <div class="form">
                        <form method="post"  name="" class="register-form">
                            <div class="contact-form-row cfix">
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input {% if reg_form.fields.login.error is not empty%} error {% endif %}">
                                            <p> Логин </p>
                                            <input type="text" minlength="5" required="required" name="{{ reg_form.key }}[login]" value="{{ reg_form.fields.login.value }}">
                                            <div class="error-field">
                                                <div class="costruct">
                                                    <span> {{ reg_form.fields.login.error }} </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input  {% if reg_form.fields.email.error is not empty%} error {% endif %} ">
                                            <p> Почта </p>
                                            <input type="email" required="required" name="{{ reg_form.key }}[email]" value="{{ reg_form.fields.email.value }}">
                                            <div class="error-field">
                                                <div class="costruct">
                                                    <span> {{ reg_form.fields.email.error }} </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input {% if reg_form.fields.password.error is not empty%} error {% endif %} ">
                                            <p> Пароль </p>
                                            <input type="password" minlength="8" required="required" name="{{ reg_form.key }}[password]" value="{{ reg_form.fields.password.value }}">
                                            <div class="error-field">
                                                <div class="costruct">
                                                    <span> {{ reg_form.fields.password.error }} </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input {% if reg_form.fields.password.error is not empty%} error {% endif %}">
                                            <p> Повторить пароль </p>
                                             <input type="password" minlength="8" required="required" name="{{ reg_form.key }}[repassword]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-row-submit cfix">
                                <div class="contact-form-item">
                                    <button type="submit" class="contact-submit" value="GO!">
                                        <span>Регистрация</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<!--
        <form method="post">
            <div>
                login
                <input type="text" minlength="5" required="required" name="{{ reg_form.key }}[login]" value="{{ reg_form.fields.login.value }}">
                <p>{{ reg_form.fields.login.error }}</p>
            </div>
            <div>
                email
                <input type="email" required="required" name="{{ reg_form.key }}[email]" value="{{ reg_form.fields.email.value }}">
                <p>{{ reg_form.fields.email.error }}</p>
            </div>
            <div>
                password
                <input type="password" minlength="8" required="required" name="{{ reg_form.key }}[password]" value="{{ reg_form.fields.password.value }}">
                <p>{{ reg_form.fields.password.error }}</p>
            </div>
            <div>
                repassword
                <input type="password" minlength="8" required="required" name="{{ reg_form.key }}[repassword]">
            </div>
            <input type="submit" value="GO!">
        </form>
-->

    {% endif %}
{% endblock %}