{% extends 'PokemonBundle:Front:Base.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            {% if form_pass is defined %}
                {% if form_pass.ms is defined and form_pass.ms is not empty %}
                openFancySucc('{{ form_pass.ms }}');
                {% endif %}
                {% if form_pass.error is defined and form_pass.error is not empty %}
                    openFancy('{{ form_pass.error }}');
                {% endif %}
            {% else %}
                {% if form_user.ms is defined and form_user.ms is not empty %}
                    openFancySucc('{{ form_user.ms }}');
                {% endif %}
                {% if form_user.fields.user.error is defined and form_user.fields.user.error is not empty %}
                    openFancy('{{ form_user.fields.user.error }}');
                {% endif %}
            {% endif %}
        });
    </script>
{% endblock %}

{% block content %}
    {% if form_pass is defined %}
            <div class="login-wrap">
                <div class="contein">
                    <div class="form-wrap">
                        <div class="topper">
                            <h2> Новый пароль </h2>
                        </div>
                        <div class="form rewrite-data">
                            <form  name="" class="register-form" method="post" >
                                <input type="hidden" name="{{ form_pass.key }}[token]" value="{{ form_pass.token }}" />
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input pass-input">
                                                <p> Пароль </p>
                                                <input type="password" minlength="8" name="{{ form_pass.key }}[password]" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input pass-input">
                                                <p> Подтвердите пароль </p>
                                                <input type="password" minlength="8" name="{{ form_pass.key }}[repassword]" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-row-submit cfix">
                                    <div class="contact-form-item">
                                        <button type="submit" class="contact-submit" value="GO">
                                            <span>Отправить</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    {% else %}
        <div class="login-wrap">
            <div class="contein">
                <div class="form-wrap">
                    <div class="topper">
                        <h2> Востановление пароля </h2>
                    </div>
                    <div class="form rewrite-data">
                        <form  name="" class="register-form" method="post" >
                            <div class="contact-form-row cfix">
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input name-input">
                                            <p> Почта или пароль </p>
                                            <input type="text" minlength="5" required="required" name="{{ form_user.key }}[user]" value="{{ form_user.fields.user.value }}">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-row-submit cfix">
                                <div class="contact-form-item">
                                    <button type="submit" class="contact-submit" value="GO">
                                        <span>Отправить</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="error-field-for-all" >
                            <div class="converterrr">
                                <div class="circlet"></div>
                                <p>{{ form_user.fields.user.error }}</p>
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}